<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Simeple Stock Chart</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/normalize.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/skeleton.css')}}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicon.png')}}">

  <!-- Bokeh Chart Resource
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	{% if status.code==1 %}
	{{ plot.resources|indent(4)|safe }}
	{{ plot.script|indent(4)|safe }}
	{% endif %}
  
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
	    <form action="{{ url_for('stock') }}" method=get>
			<input type="text" size="30" name="stockcode" value="{{stock.code}}">
	    </form>
        <p><b>status:</b> {{status.msg}}</p>
        
	{% if status.code==1 %}
        <p><b>{{stock.code}}</b></p>
        {{ plot.div|indent(4)|safe }}
	{% endif %}        
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>



